@model IEnumerable<ReadExcelPOC.Models.Terminal>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TerminalGEOID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalRKSTCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortRKST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortGEOID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendField8)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalGEOID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalRKSTCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortRKST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortGEOID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendField8)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
